@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    background-color: #FFFFFF;
    margin: 32px;
    padding: 0;
}

.container {
    width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.page__content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    margin-bottom: 80px;
    background-color: #fff;
}

.doctors__title {
    font-size: 30px;
    color: #2b2b2b;
    margin-bottom: 50px;
}

.specialization__title {
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 15px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
    margin-top: 50px;
}

.doctor__list {
    list-style-type: none;
    padding-left: 0;
}

.doctor__item {
    font-size: 20px;
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 3px solid #e98179;
}

.page__section {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.section--img {
    width: 80%;
    height: 370px;
	object-fit: cover;
    border-radius: 16px;
    object-position: center 20%; 
    margin: 0;
}

.message {
    margin-top: 20px;
}