.container{
    display: flex; justify-content: center; align-items: flex-start;
}
.big{
    width:80%; background-color:#ECC6A2; border-radius:20px; margin:0 auto; padding:10px;
}
.items{
    font-size:26px; color: #7d5933; display: block;
}
.small{
    width:15%; background-color:#ECC6A2; border-radius:20px; margin:0 auto; padding:10px;
}
.countMinus{
    border: 0px; background-color:#cfa77c;  font-style:bold;
    width: 26px;
    height: 26px;
    border-radius: 3px;
}
.countPlus{
    border: 0px; background-color:#cfa77c; font-style:bold;
    width: 26px;
    height: 26px;
    border-radius: 3px;
}
.countMinus:hover{
    background-color:#b8926a;
}
.countPlus:hover{
    background-color:#b8926a;
}