* {
    margin: 0;
    padding: 0;
}

.print {
    width: 98%;
    text-align: justify;
    margin: 15px auto;
    display: flex;
}

.print h3 {
    margin: 0 15px 15px 15px;
}

.print p {
    width: max-content;
    margin-right: 10px;
}

.print_hed {
    width: 98%;
    margin: 15px auto;
}
.print_hed h2 {
    text-align: center;
}

.print_res {
    text-align: center;
    margin: auto auto;
}

.print_res h2 {
    color: rgb(34, 170, 41);
}

.print_res p {
    font-size: 20px;
    margin-bottom: 10px;
}

.print_res a {
    padding: 7px;
    background-color: rgba(0, 0, 255, 0.578);
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.print_res a:hover {
    background-color: rgba(0, 0, 255, 0.887);
}

.main {
    height: auto;
    margin: 20px auto;
}

.main h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.print_name {
    width: 200px;
    height: max-content;
    margin: 20px 10px 0 0;
    padding: 5px 15px;
    border: 1px solid black;
}

.print_name h3 {
    text-align: center;
}

.print_box {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.wrapper {
    width: 79.6%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    padding: 15px;
}

.print_box h2 {
    text-align: center;
}

.print_box a {
    text-decoration: none;
    color: blue;
}

.button_down {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;  
    border: solid 2px black;
    border-radius: 10px;
}

.button_down:hover {
    background-color: rgba(34, 170, 41, 0.545);
}

.Order {
    width: 100%;
}

.button_order {
    width: 250px;
    margin: 20px auto; 
}

.button_order a{
    padding: 10px 20px;
    background-color: rgba(34, 170, 41, 0.744);
    color: white;
    font-family: Tahoma;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
    text-decoration: none;
}

.Calculation {
    width: max-content;
    margin: 0 auto;
}

.go_to_banner {
    width: max-content;
    margin: 30px auto;
}

.go_to_banner a{
    background-color: rgba(34, 170, 41, 0.744);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 20px;
}

.go_to_banner a:hover {
    background-color: rgb(34, 170, 41);
    transition: all 0.3s;
}

.heder_banner {
    width: max-content;
    margin: 0 auto;
}

table, th, td {
    padding: 10px;
    border-collapse: collapse;
  }

  table {
    text-align: center;
  }